if SOC_SF32LB577VD776
configdefault BSP_ENABLE_MPI1
    default y

choice BSP_MPI1_MODE_CHOICE
    default BSP_MPI1_MODE_3
endchoice

configdefault BSP_QSPI1_MEM_SIZE
    default 16

configdefault BSP_ENABLE_MPI2
    default y

choice BSP_MPI2_MODE_CHOICE
    default BSP_MPI2_MODE_0
endchoice

configdefault BSP_QSPI2_MEM_SIZE
    default 16

configdefault BSP_ENABLE_MPI3
    default y

choice BSP_MPI3_MODE_CHOICE
    default BSP_MPI3_MODE_0
endchoice

configdefault BSP_QSPI3_MEM_SIZE
    default 16

configdefault BSP_PSRAM1_PKG_TYPE0_MPI_MODE
    default 3

configdefault BSP_PSRAM1_PKG_TYPE0_PINMAP_MODE
    default 3
endif
