menu "WiFi"

menuconfig WIFI_USING_AIC8800MC
    bool  "AIC8800MC"
    default n
    if WIFI_USING_AIC8800MC
        config USING_AICXTEK_WIFI
            bool "Enable using aicxtek WIFI"
            default y
        if USING_AICXTEK_WIFI    

            config AIC_CFG_RDATA_MODE_EN
                bool "AIC_CFG_RDATA_MODE_EN"
                default n
            
            config AIC_CFG_VNET_MODE_EN
                bool "AIC_CFG_VNET_MODE_EN"
                default y
            choice
                prompt "hardware wifi interface type"
            
                config WIFI_INF_TYPE_SDIO
                    bool "SDIO interface sdio"
                config WIFI_INF_TYPE_SPI
                    bool "SDIO interface spi"    
                config WIFI_INF_TYPE_UART
                    bool "SDIO interface uart"     
            endchoice
            
        endif
    endif
    
endmenu    